.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    border-radius: 25px;
    padding: 13px 20px;
    background-color: #ff595e;
    color: #ffffff;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: .5px;
    cursor: pointer;
    transition: background-color ease-in-out 300ms;
    &:hover {
        background-color: #EA1C49;
    }
    &.disabled {
        background-color: #adb5bd;
        cursor: default;
        &:hover {
            background-color: #adb5bd;
        }
    }
}