.counter-base {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
    align-items: center;
    height: 144px;
    text-align: left;
    padding: 50px;
    margin: 10px;
    min-width: 10vw;
    .counter-details {
        color: #ffffff;
        font-weight: 600;
    }
    .icon {
        position: absolute;
        height: 20px;
        width: 20px;
        fill: #ffffff; 
        cursor: pointer;   
    }
    .close {
        top: 15px;
        left: 15px;
    }
    .edit {
        top: 15px;
        right: 15px;
    }
    .minus {
        left: 10px;
        height: 25px;
        width: 25px;
    }
    .plus {
        right: 10px;
        height: 25px;
        width: 25px;
    }
    .counter-buttons { 
        display: flex;
        flex-direction: row;
        position: relative;
        top: 15px;
        justify-content: space-evenly;
        width: 100%;
    }
}