.counter-base {
    max-width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: left;
    .close {
        position: absolute;
        top: 15px;
        left: 15px;
    }
    .counter-buttons { 
        display: flex;
        flex-direction: row;
        position: relative;
        top: 15px;
        justify-content: space-evenly;
        width: 100%;
    }
}